*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #f0f0f0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.cover-box {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

.skeleton-cover {
  margin-top: 20px;
  padding:15px;
  /* max-width: 94%; */
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.skeleton-cover-left{
  flex:2;
  padding-right:15px;
  align-items: center;
}

.cover-square {
  height: 220px;
  width: 220px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}

.skeleton-cover-right{
  flex:1;
}

.line-title {
  height: 20px;
  margin-bottom:8px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.line-description {
    height: 12px;
    margin-bottom: 6px;
    border-radius: 2px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-lines 2s infinite ease-out;
}

.mb25 {
  margin-bottom: 26px;
}

.mb50 {
  margin-bottom: 50px;
}

/* .item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
} */
.test {
  display: flex;
  flex-direction: row;
}
.container {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  /* flex-flow: wrap row; */
  justify-content: space-between;
}

.box{
  /* max-width: 400px; */
  width: 100%;
  /* width: -webkit-fill-available; */
  /* padding: 0 20px; */
}

.skeleton {
  /* margin-left: 20px; */
  /* margin-left: 30px; */
  padding:15px;
  /* max-width: 40rem; */
  /* width: 100%; */
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.skeleton .square {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}
.skeleton .line {
  height: 12px;
  margin-bottom:6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

/* .skeleton-cover .square {
  height: 80px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}
.skeleton-cover .line {
  height: 12px;
  margin-bottom:6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
} */
.skeleton-right{
  flex:1;
}
.skeleton-left{
  flex:2;
  padding-right:15px;
}
.flex1{
  flex: 1;
}
.flex2{
  flex: 2;
}
.skeleton .line:last-child{
  margin-bottom: 0;
}
.h8{
  height: 8px !important;
}
.h10{
  height: 10px !important;
}
.h12{
  height: 12px !important;
}
.h15{
  height: 15px !important;
}
.h17{
  height: 17px !important;
}
.h20{
  height: 20px !important;
}
.h25{
  height: 25px !important;
}
.w25{
  width: 25% !important
}
.w40{
  width:40% !important;
}
.w50{
  width: 50% !important
}
.w75{
  width: 75% !important
}
.m10{
  margin-bottom: 10px !important;
}
.circle{
  border-radius: 50% !important;
  height: 80px !important;
  width: 80px;
}
@keyframes wave-lines {
  0% {
      background-position: -468px 0;
  }
  100% {
      background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
      background-position: -468px 0;
  }
  100% {
      background-position: 468px 0;
  }
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.skeleton-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-container {
  margin-top: 20px;
  height: 60px;
  margin-bottom:8px;
  border-radius: 15px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.value-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* margin-left: auto; */
  float: right;
}

.line-title {
  height: 20px;
  margin-bottom:8px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.line-description {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.h20{
  height: 20px !important;
}

.w25{
  width: 25% !important
}
.w40{
  width:40% !important;
}
.w50{
  width: 50% !important
}
.w75{
  width: 75% !important
}
